<section id="projects">
    <h1>Projects</h1>
    <div class="carousel-navigation">
        <button class="carousel-navigation-button">1</button>
        <button class="carousel-navigation-button">2</button>
        <button class="carousel-navigation-button">3</button>
        <button class="carousel-navigation-button">4</button>
        <button class="carousel-navigation-button">5</button>
        <button class="carousel-navigation-button">6</button>
        <button class="carousel-navigation-button">7</button>
    </div>
    <div class="carousel">
        <div id="slide1" class="slide">
            <div class="project-title">Library Manager<a href="https://github.com/MarcinKurylo/LibraryManager" class="project-link" target="blank"><%- include("./svg/github.svg") %></a></div>
            <img src="/images/LibraryManager.png" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">MacOS app programmed with Swift. The purpose of this app is to simplify managing library. Data is stored in Realm local database.</span>
                <span class="fr-text">L’app pour MacOs programmée en Swift. Le but de cette appli est de rendre le management d’une bibliothèque plus facile. Les données sont garder dans Realm.</span>
                <span class="pl-text">Aplikacja na MacOS’a zaprogramowana w Swifcie. Jej celem jest zapewnienie łatwiejszego zarządzania biblioteką. Dane są przechowywane w lokalnej bazie danych - Realm.</span>
            </div>
        </div>
        <div id="slide2" class="slide">
            <div class="project-title">Genetic algorithm pathfinder <a href="https://github.com/MarcinKurylo/Path_Finding" class="project-link" target="blank"><%- include("./svg/github.svg") %></a></div>
            <img src="/images/genetic.png" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">Created with PyQt5 in Python. Application employs genetic algorithm to find the shortest possible distance between two arbitrary chosen points. </span>
                <span class="fr-text">L’application programmée en utilisant Python et PyQt5. Le logiciel utilise l’algorithme génétique pour trouver une voie la plus courte entre deux points définis par l’utilisateur(trice).</span>
                <span class="pl-text">Aplikacja zaprojektowana przy użyciu PyQt5 oraz Python’a. Celem algorytmu jest znalezienie najkrótszej możliwej drogi pomiędzy dwoma punktami zdefiniowanymi przez użytkownika.</span>
            </div>
        </div>
        <div id="slide3" class="slide">
            <div class="project-title">SmartCards app <a href="https://github.com/MarcinKurylo/SmartCards" class="project-link" target="blank"><%- include("./svg/github.svg") %></a><a href="https://blooming-inlet-81363.herokuapp.com" class="project-link" target="blank"><%- include("./svg/heroku.svg") %></a></div>
            <img src="/images/SmartCards.png" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">Webapp which purpose is to create flashcards and store them in a database (MongoDB). Implemented CRUD operations. Backend created with Node.js, express, mongoose and passport (for users authentication and authorization). Frontend - CSS (first experience with SCSS), HTML and js.</span>
                <span class="fr-text">L’application web quelle but est la création et préservation des flashcards (MongoDB). Toutes CURD opérations sont implémentées. Backend crée en utilisant Node.js, express, mongoose et passport  (pour l’autorisation et l’authentification des utilisateurs). Frontend - CSS (la première expérience avec SCSS), HTML et js. </span>
                <span class="pl-text">Aplikacja webowa której celem jest umożliwienie tworzenia fiszek i przechowywanie jej w bazie danych (MongoDB). Zaimplementowano wszystkie operacje CRUD. Backend oparty na Node.js, express, mogoose i passport (uwierzytelnianie i autoryzacja użytkowników). Frontend - CSS (pierwsze doświadczenie z CSS), HTML i js.</span>
            </div>
        </div>
        <div id="slide4" class="slide">
            <div class="project-title">Vigènere autokey cipher <a href="https://github.com/MarcinKurylo/vigenereCipher" class="project-link" target="blank"><%- include("./svg/github.svg") %></a></div>
            <img src="/images/vigenere.png" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">Simple command line app which purpose is to encode and decode a provided message with an autokey. In order to check the algorithm’s performance some unit tests were used.</span>
                <span class="fr-text">Une application simple quelle objectif est à encoder et décoder un message introduit par un(e) utilisateur(trice) par la ligne de commande. J’écrit quelques unit tests pour vérifier la performance de l’algorithme.</span>
                <span class="pl-text">Prosta aplikacja której zadaniem jest (de)szyfrowanie wiadomości wprowadzonej przez użytkownika poprzez konsolę wiersza poleceń. W celu weryfikacji poprawności działania algorytmu napisałem kilka testów jednostkowych.</span>
            </div>
        </div>
        <div id="slide5" class="slide">
            <div class="project-title">MNIST convolutional neural network <a href="https://github.com/MarcinKurylo/tiny-mnist-challenge" class="project-link" target="blank"><%- include("./svg/github.svg") %></a></div>
            <img src="/images/neural.jpg" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">Convolutional neural network to recognize digit. Trained on MNIST database. Accuracy of this neural network reaches over 99%. Project created with use of Tensorflow API. It is a part of University Challenge (in which I gained 3rd place).</span>
                <span class="fr-text">Un réseau convolutionnel de neurones destiné à identification des chiffres. Le modèle était formé grâce à MNIST base de données. Sa précision s’élève jusqu’à 99%. Projet utilise API de Tensorflow. Ce projet était crée pendant le concours à l’université. Il a ma remporté un prix (3ème position).</span>
                <span class="pl-text">Splotowa sieć neuronowa służąca do rozpoznawania cyfr. Model trenowany na bazie MNIST. Dokładność modelu to ponad 99%. Jest to składowa konkursu zorganizowanego podczas zajęć na politechnice. Model osiągnął trzecie miejsce.</span>
            </div>
        </div>
        <div id="slide6" class="slide">
            <div class="project-title">This page<a href="#" class="project-link" target="blank"><%- include("./svg/github.svg") %></a></div>
            <img src="/images/thisPage.png" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">On creating this page I mostly focused on frontend. I hope that you enjoy the result.</span>
                <span class="fr-text">En créant ce page, j’étais focalisé principalement sur frontend. J’espère que le résultat vous plait.</span>
                <span class="pl-text">Tworząc tę stronę skupiłem się przede wszystkim na frontedzie. Mam nadzieję, że rezultat jest satysfakcjonujący. </span>
            </div>
        </div>
        <div id="slide7" class="slide">
            <div class="project-title">Yet to come...<a href="https://github.com/MarcinKurylo" class="project-link" target="blank"><%- include("./svg/github.svg") %></a></div>
            <img src="/images/question.jpg" alt="" class="project-photo">
            <div class="project-description">
                <span class="en-text">As I am perpetually developing, there may be some more projects added in the future.</span>
                <span class="fr-text">Étant donné que je toujours apprendre, il y auront plus de projets ici un jour.</span>
                <span class="pl-text">W tym miejscu mogą się kiedyś znaleźć inne, ciekawe projekty.</span>
            </div>
        </div>
    </div>
</section>