<section id="technical">
    <h1 class="en-text">Technical stack</h1>
    <h1 class="fr-text">Les compétences techniques</h1>
    <h1 class="pl-text">Umiejętności techniczne</h1>
    <h3 class="en-text">I feel comfortable with</h3>
    <h3 class="fr-text">J'aime bien travailler avec</h3>
    <h3 class="pl-text">Lubię pracować z</h3>
    <div class="programmingStack">
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/javascript.svg") %> 
            <p>JavaScript</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/java.svg") %>
            <p>Java</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/nodejs.svg") %>
            <p>Node.js</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/express.svg") %>
            <p>Express</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/mysql.svg") %>
            <p>MySQL</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/css.svg") %>
            <p>CSS</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/html.svg") %>
            <p>HTML</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/git.svg") %>
            <p>Git</p>
        </div>
    </div>
    <h3 class="en-text">I am also familiar with</h3>
    <h3 class="fr-text">Je sais aussi</h3>
    <h3 class="pl-text">Znam również</h3>
    <div class="programmingStack">
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/swift.svg") %>
            <p>Swift</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/cpp.svg") %>
            <p>C++</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/mongo.svg") %>
            <p>MongoDB</p>
        </div>
        <div class="programmingIcon">
            <%- include("./svg/programmingIcons/python.svg") %>
            <p>Python</p>
        </div>
    </div>
</section>