<%- include("./partials/header.ejs")  %> 
<body>
    <%- include("./partials/navbar.ejs") %>
    <main>
        <%- include("./partials/aboutSection.ejs") %> 
        <%- include("./partials/technicalSection.ejs") %>
        <%- include("./partials/projectsSection.ejs") %> 
        <%- include("./partials/contactSection.ejs") %> 
    </main>  
</body>
<%- include("./partials/footer.ejs")  %> 